body { 
    padding: 0;
    margin: 0;
}
h1 {
    padding: 0 0 0 .425em;
    margin: 0;
    display: inline;
    float: left;
    color: #FEFEFE;
}
.chatify-channel {
    width: 50%;
    float: left;
}
#header {
    position: fixed;
    top: 0;
    padding: 4px;
    height: 24px;
    width: 100%;
    min-width: 600px;
    background-color: #7AB800;
}

h1 .subtitle {
    color: #FEFEFE;
    padding-left: 1em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .77); 
}
#content {
    margin-top: 48px;
}
.login-container {
    margin: 1em 1em 1em 1em;
}
.intro {
    line-height: 1.5em;
    text-align: justify;
}
div.agree {
    padding: 2em;
    text-align: justify;
    background-color: #efefef;
    margin-top: 2em;
    margin-bottom: 2em;
}
div.login {
    background-color: #efefef;
    padding: 2em;
    margin-bottom: 2em;
}

.send-form {
    font-size: 14pt;
    width: 100%;
    padding: 0;
    margin: 0;
}

.footer {
    font-size: 14pt;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid black;
    z-index: 99;
    background-color: inheret;
}

.whoareyou, .nickname
{
    margin: .5em;
    padding: .5em;
}

.whoareyou {
    width: auto;
    font-size: 1.5em;
}

.logout-button {
    float: right;
    margin-right: 20px;
}
.logout-button:link {
    text-decoration: none;
}
.logout-button:hover {
    text-decoration: underline;
}
.logout-button:visited {
}

.current-username, .message, .send-button {
    padding: .5%;
}

.current-username {
    width: 10%;
    display: none;
    float: left;
    text-align: right;
}
.message {
    width: 78%;
    margin-left: 11%;
}
.send-button {
    width: 8%;
}
#channel {
    font-size: 1.2em;
    padding: 0 3em;
    text-shadow: none; 
}
#current-channel {
    font-weight: bold;
}
.errors{
    margin: 1em;
    line-height: 1.5em;
    color: #F00;
    background-color: #FAA;
    padding: .25em 1em;
    border: 2px solid #F00;
    border-radius: 3px;
    display: block;
    text-shadow: none;
    font-weight: bold;      
}
div.agree p {
    margin-bottom: 1em;
}
.agree-checkbox {
    -webkit-appearance: checkbox;
}
.input_box { background: border: 1px #ccc solid; padding: 10px; width: 100%;}

/*------------------------------------------------------------------------------
 * message formatting
 *----------------------------------------------------------------------------*/

.message-container {
    margin: 0;
    padding: 0 0 6em 0;
    overflow: hidden;
}
.message-container span.clear {
    clear: both;
    display: block;
    float: none;
}
.message-container li {
    clear: both;
    list-style: none;
    margin: 2.5%;
    padding: 2.5%;
    background: #FEFEFE;
    border-radius: 8px;
}
.message-container li.system {
    color: #666666;
}
.message-container li.user {
    color: #333333;
}
.message-container li.error {
    color: #FF0000;
}

.message-container span {
    display: block;
    float: left;
}
.message-container .message-username {
    font-weight: bold;
    width: 90%;
    text-align: left
}
.message-container .message-body {
    width: 90%;
    text-align: left;
}
.message-container .message-timestamp {
    width: 90%;
    color: #c7c7c7;
    text-align: right;
}
/* Our oAuth buttons */
button.login {
  border: none;
  width: 162px;
  height: 29px;
  display: block;
  margin: 2px;
  float: left;
  clear: left;
  background-position: top left;
}
div.login-container.enabled button.login {
  background-position: bottom left;
  cursor: pointer;
}

button.login.facebook {
  background-image: url(/images/facebook_signin.png);
}

button.login.twitter {
  background-image: url(/images/twitter_signin.png);
}

button.login.tumblr {
  background-image: url(/images/tumblr_signin.png);
}
